:root {
    --mainColor: #9fd8cb;
    --stagerDelay: 0.1s;
}

body {
    margin: 0;
    padding: 0;
    font-family: Corbel,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    height: 99%;
    font-size: 1.3rem;
    overflow: hidden;
}

/* navbar */
.banner {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    -webkit-box-shadow: 0px 14px 20px 0px rgba(0,0,0,0.125); 
    box-shadow: 0px 14px 20px 0px rgba(0,0,0,0.125);
}

@media (max-width: 500px) {
    .banner {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 5% 0;
    }
    .logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .banner ul {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin: 5%;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo .logoText {
        border-bottom: 3px solid var(--mainColor);
    }
}

.logo .logoText {
    text-align: center;
    border-bottom: 3px solid var(--mainColor);
    width: 35px;
    margin: 0 10%;
}

ul {
    display: flex;
    justify-content: flex-end;
}

.banner ul li::after {
    content: ' ';
    height: 3px;
    width: 100%;
    background: var(--mainColor);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transition: transform 0.5s;
    transform: scaleX(0);
  }
  .banner ul li:hover::after {
    transform: scaleX(1);
}

.banner ul li:first-child::after {
    content: ' ';
    width: 100%;
    right: 0;
    background: var(--mainColor);
    border-radius: 10px;
    bottom: -5px;
    transform: scalex(1);
}

.nav li {
    list-style: none;
    position: relative;
    margin: 0 5%;

}

.nav li a, .logo a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
/* navbar */

/* main */
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: normal;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10%;
    animation: maineFase 1s ease 1s forwards;
}

@keyframes maineFase {
    from {
        margin-top: 10%;
    }
    to {
        margin-top: 5%;
    }
}

img {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    animation: imgFase 2s ease 1s forwards;
}

@keyframes imgFase {
    to {
        width: 100px;
    }
}

.main h1 {
    font-size: 2em;
    position: relative;
    animation: h1Fase 1.5s ease 1s forwards;
}

@keyframes h1Fase {
    to {
        font-size: 1em;
    }
}

.main h1::before {
    content: '';
    left: 25%;
    width: 50%;
    height: 20%;
    position: absolute;
    bottom: -75%;
    background: var(--mainColor);
    border-radius: 10px;
    animation: headFase 1.5s ease 1.4s forwards;
    transform: scaleX(0);
}

@keyframes headFase {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.main p {
    font-family: Corbel,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1.2rem;
    max-width:50ch;
    line-height: 1.7rem;
    animation: fase 1.5s ease 1.5s forwards;
    text-align: left;
    opacity: 0;
    padding: 0rem 1rem;
}

@keyframes fase {
    from {
        display: none;
        opacity: 0;
        display: grid;
        grid-template-rows: 0.5fr;
        text-align: left;
    }
    to {
        opacity: 1;
        display: grid;
        grid-template-rows: 1fr;
        text-align: left;
    }
}
