:root {
    --mainColor: #9fd8cb;
    --stagerDelay: 0.1s;
}

body {
    margin: 0;
    padding: 0;
    font-family: Corbel,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    height: 90svh;
    font-size: 1.3rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar */
.banner {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    -webkit-box-shadow: 0px 14px 20px 0px rgba(0,0,0,0.125); 
    box-shadow: 0px 14px 20px 0px rgba(0,0,0,0.125);
}

@media (max-width: 500px) {
    .banner {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 5% 0;
    }
    .logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .banner ul {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin: 5%;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo .logoText {
        border-bottom: 3px solid var(--mainColor);
    }
}

.logo .logoText {
    text-align: center;
    border-bottom: 3px solid var(--mainColor);
    width: 35px;
    margin: 0 10%;
}

ul {
    display: flex;
    justify-content: flex-end;
}

.banner ul li::after {
    content: ' ';
    height: 3px;
    width: 100%;
    background: var(--mainColor);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transition: transform 0.5s;
    transform: scaleX(0);
  }
  .banner ul li:hover::after {
    transform: scaleX(1);
}

.banner ul li:nth-child(2)::after {
    content: ' ';
    width: 100%;
    right: 0;
    background: var(--mainColor);
    border-radius: 10px;
    bottom: -5px;
    transform: scalex(1);
}

.nav li {
    list-style: none;
    position: relative;
    margin: 0 5%;

}

.nav li a, .logo a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
/* navbar */

/* main */
.main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    font-size: 1.1rem;
    transition: transform 2s ease 1s;
}

.photo img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.h h1 {
    font-size: 1.3rem;
    position: relative;
}

.h h1::before {
    content: '';
    left: 25%;
    width: 50%;
    height: 20%;
    position: absolute;
    bottom: -75%;
    background: var(--mainColor);
    border-radius: 10px;
    animation: headFase 1.5s ease 0.5s forwards;
    transform: scaleX(0);
}

@keyframes headFase {
    to {
        transform: scaleX(1);
    }
}

.main .projectsList{
    margin-top: 15px;
    margin-bottom: 15px;
}

.main .project {
    font-family: Corbel,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-top: 0.5rem;
    padding: 0;
    min-width: 21rem;
    background-color: #86cccc6c;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    line-height: 25px;
    transition: transform 0.35s ease-in-out;
    -webkit-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.3); 
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.3);
    animation: FadeIn 1.5s ease 0.5s forwards;
    opacity: 0;
}

@media (min-width: 500px) {
    .project:hover {
        transform: translateX(-15%);
        outline: 2px solid var(--mainColor);
    }
}

@media (max-width: 500px) {
    .project:hover {
        transform: scale(1.06);
        outline: 2px solid var(--mainColor);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.projectsList a ,h3 {
    padding: 0rem 0 0 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.project p {
    padding: 0rem 0 0.5rem 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
    font-size: 0.9rem;
}

.projectsList img {
    width: 100px;
    height: 100px;
    border-radius: 15px 0 0 15px;
    grid-row: span 2;
}

